<template>
    <div class="container">

        <b-modal
            id="addressModal"
            ok-only
            ok-title="Cancel"
            ref="choose-address"
            title="Select your address">
            <div v-for="address in addresses">
                <button @click='chooseAddress(address, true)' class="btn btn-sm btn-success">save</button> {{address.formatted_address}}
            </div>
            <div v-if="addresses.length==0">
                <p>No addresses found</p>
            </div>
            <div v-if="addresses.length>0">
                <br/>
                <p><i>None of the addresses above are correct</i></p>
                <button @click='chooseAddress(null, false)' class="btn btn-sm btn-success">save</button> {{renderAddress}}
            </div>

        </b-modal>


        <div v-show="mode=='list'" class="row justify-content-center">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">Account Locations</div>

                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="120">

                                </th>
                                <th>Name</th>
                                <th>Timezone</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="location in locations">
                                <td width="150">
                                    <button @click="del(location)" class="btn btn-danger">del</button>
                                    <button @click="edit(location)" class="btn btn-info">edit</button>
                                </td>
                                <td>{{location.name}}</td>
                                <td>{{location.timezone}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Add Location</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Name<input type="text" placeholder="Location name" v-model="location.name"
                                                  class="form-control"/></label>
                                <label>Timezone
                                    <select v-model="location.timezone">
                                        <option v-for="zone in timezones" :value="zone">{{zone}}</option>
                                    </select>
                                </label>
                                <button @click="add" class="btn btn-block btn-success">Add location</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="mode=='edit'" class="row justify-content-center">

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Edit Location</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Name<input type="text" placeholder="Location name" v-model="location.name"
                                                  class="form-control"/></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <label>Timezone
                                    <select v-model="location.timezone">
                                        <option v-for="zone in timezones" :value="zone">{{zone}}</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <button @click="save" class="btn btn-block btn-success">Save location</button>
                    <button @click="canceledit" class="btn btn-block btn-warning">Cancel edit</button>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">My base location</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Address</label><input type="text" placeholder="Address" v-model="address.address1"
                                                             class="form-control"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" placeholder="City" v-model="address.city"
                                       class="form-control col-md-6" style="display:inline"/>
                                <input type="text" placeholder="State" v-model="address.state"
                                       class="form-control col-md-2" style="display:inline"/>
                                <input type="text" placeholder="ZIP" v-model="address.postal_code"
                                       class="form-control col-md-3" style="display:inline"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br/>
                                <button @click="geo" class="btn btn-block btn-info">Verify and save address</button>
                            </div>
                        </div>

                        <div class="row" style="height: 150px">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                mode: 'list',
                timezones: ['America/New_York', 'America/Chicago', 'America/Los_Angeles'],
                locations: [],
                location: {
                    id: '',
                    name: '',
                    timezone: 'America/New_York'
                },
                addresses:[],
                address: {
                    id: '',
                    address1: '',
                    city: '',
                    state: '',
                    postal_code: '',
                    latitude: '',
                    longitude: '',
                }
            }
        },
        computed: {
            renderAddress()
            {
                let self = this;
                let addressString = '';
                const a = self.address;
                addressString += (a.address1 ? a.address1 : '')  + ' ';
                addressString += (a.address2 ? a.address2 : '')  + ' ';
                addressString += (a.city ? a.city : '')  + ', ';
                addressString += (a.state ? a.state : '')  + ' ';
                addressString += (a.postal_code ? a.postal_code : '');
                return addressString;
            }
        },
        methods: {
            add() {
                let self = this;
                if(self.location.name=='' || self.location.timezone=='') {
                    alert("Need to enter a name and timezone for this location");
                    return;
                }
                self.$http.put("/location/create", self.location).then(response => {
                    console.log(response);
                    const createdLocation = response.data.location;
                    self.init();
                    self.edit(createdLocation);
                });
            },
            save() {
                let self = this;
                self.$http.post("/location/update", {
                    location: self.location,
                    address: self.address
                }).then(response => {
                    self.mode = "list";
                    self.init();
                });
            },
            del(location) {
                let self = this;
                self.$http.delete("/location/delete/" + location.id).then(response => {
                    self.init();
                });
            },
            canceledit() {
                let self = this;
                self.mode = "list";
                self.location = {
                    id: '',
                    name: '',
                    timezone: '',
                }
            },
            edit(location) {
                let self = this;
                self.location = location;
                self.mode = "edit";
                if(location.address!=null) {
                    Vue.set(self, 'address', location.address);
                }
            },
            init() {
                let self = this;
                self.$http.get("/location/all").then(response => {
                    self.locations = response.data.locations;
                });
            },
            geo()
            {
                let self = this;

                self.$http.post("/address/verify", {address: self.address}).then(response=>{
                    self.verifyAddress(response.data.addresses);
                });
            },
            verifyAddress(list)
            {
                let self = this;
                console.log(list);
                Vue.set(this, 'addresses', list);
                self.$refs['choose-address'].show();
            },
            chooseAddress(address, verified)
            {
                let self = this;
                if(address!=null && verified==true) {
                    let parts = address.address_components;
                    self.address.address1 = parts.number + " " + parts.formatted_street
                    self.address.city = parts.city;
                    self.address.state = parts.state;
                    self.address.postal_code = parts.zip;
                    self.address.latitude = address.location.lat;
                    self.address.longitude = address.location.lng;
                    self.address.verified = verified;
                } else {
                    self.address.verified = false;
                }
                self.$refs['choose-address'].hide();
                self.save();
            },
        },
        mounted() {
            this.init();
            console.log('Component mounted.')
        }
    }
</script>
