<template>
    <div class="container">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">Please create your account</div>
                    <div class="card-body">
                        <p>
                        <label>Name<input type="text" placeholder="Worker name" v-model="worker.name"
                                          class="form-control"/></label>
                        </p>
                        <p>
                        <label>Email<input type="text" placeholder="Worker email" v-model="worker.email"
                                           class="form-control"/></label>
                        </p>
                        <p>
                        <label>Password<input type="password" placeholder="Password" v-model="worker.password"
                                           class="form-control"/></label>
                        </p>
                        <p>
                        <label>Confirm password<input type="password" placeholder="Password" v-model="worker.confirm"
                                           class="form-control"/></label>
                        </p>
                    </div>
                </div>
                <button @click="save" class="btn btn-success">Register</button>
            </div>

        </div>

</template>

<script>
    export default {
        props: ['invitation'],
        data() {
            return {
                mode: 'list',

                worker: {
                    id: '',
                    name: '',
                    email: '',
                    password: '',
                    confirm: '',
                }
            }
        },
        methods: {
            add() {
                let self = this;
                if(self.worker.name=='' || self.worker.email=='') {
                    alert("Need to enter a name and email for this worker");
                    return;
                }
                self.$http.put("/worker/create", self.worker).then(response => {
                    console.log(response);
                    self.init();
                });
            },
            save() {
                let self = this;
                self.$http.post("/worker/invitation/"+self.invitation.id,
                    {worker:self.worker}).then(response => {
                    self.$swal.fire(
                        'Success',
                        'Your account was created!',
                        'success'
                    );
                });
            },
            del(worker) {
                let self = this;
                self.$http.delete("/worker/delete/" + worker.id).then(response => {
                    self.init();
                });
            },
            canceledit() {
                let self = this;
                self.mode = "list";
                self.worker = {
                    id: '',
                    name: '',
                    email: '',
                    phone: '',
                }
            },
            edit(worker) {
                let self = this;
                self.worker = worker;
                self.mode = "edit";
            },
            init() {
                let self = this;
                self.$http.get("/worker/all").then(response => {
                    self.items = response.data.workers;
                });
            }
        },
        mounted() {
            this.init();
            Vue.set(this,'worker', this.invitation.worker);
            console.log('Component mounted.')
        }
    }
</script>
