<template>
    <div class="container">
        <div v-show="mode=='list'" class="row justify-content-center">
            <div v-if="showcal==true" class="col-md-9">
                <FullCalendar
                    @eventClick="eventClick"
                    :events="shifts" defaultView="dayGridMonth" :plugins="calendarPlugins" />
            </div>
            <div v-if="showcal==false" class="col-md-9">
                <div class="card">
                    <div class="card-header">Shifts</div>

                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="120">

                                </th>
                                <th>Location</th>
                                <th>Status</th>
                                <th>Start</th>
                                <th>End</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="shift in shifts">
                                <td width="150">
                                    <button v-show="shift.worker_id==workerId" @click="untake(shift)" class="btn btn-danger">untake</button>
                                    <button v-show="shift.worker_id!=workerId" @click="take(shift)" class="btn btn-info">take</button>
                                </td>
                                <td>
                                    <span v-if="shift.location">
                                        {{shift.location.name}}
                                    </span></td>
                                <td>{{shift.status}}</td>
                                <td>{{shift.wallclock_start}}</td>
                                <td>{{shift.wallclock_end}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <button @click="swapmode" class="btn btn-block btn-info">Switch view</button>

            </div>
        </div>
    </div>
</template>
<style lang='scss'>

    @import '~@fullcalendar/core/main.css';
    @import '~@fullcalendar/daygrid/main.css';

</style>
<script>
    import FullCalendar from '@fullcalendar/vue'
    import dayGridPlugin from '@fullcalendar/daygrid'

    export default {
        components: {
            FullCalendar // make the <FullCalendar> tag available
        },
        data() {
            let now = this.moment().format("YYYY-MM-DD");
            return {
                workerId: window.laravel.workerId,
                showcal: false,
                calendarPlugins: [ dayGridPlugin ],
                mode: 'list',
                timezones: ['America/New_York', 'America/Chicago', 'America/Los_Angeles'],
                locations: [],
                shifts: [],
                shift: {
                    id: '',
                    worker_id: '',
                    wallstart_date: now,
                    wallstart_time: '08:00 AM',
                    duration: '08:00',
                    wallend_date: '',
                    wallend_time: '',
                    location_id: '',
                    status: '',
                }
            }
        },

        methods: {
            swapmode() {
                let self = this;
                self.showcal = !self.showcal;
            },
            startTimeChange(e) {
                let self = this;
                self.changeEnd();
            },
            durationChange(e) {
                let self = this;
                self.changeEnd();
            },
            changeEnd() {
                let self = this;
                let parts = self.shift.duration.split(":");
                let duration = parseFloat(parts[0]) * 60 + parseFloat(parts[1]);
                let start = self.shift.wallstart_date + " " + self.shift.wallstart_time;
                let _end = self.moment(start);
                _end.add(duration, 'minutes');
                let end = _end.format("YYYY-MM-DD HH:mm").split(" ");
                self.shift.wallend_date = end[0];
                self.shift.wallend_time = end[1];
            },
            add() {
                let self = this;
                if (self.shift.location_id == '') {
                    alert("Need to select a location for this shift");
                    return;
                }
                self.$http.put("/shift/create", self.shift).then(response => {
                    console.log(response);
                    self.init();
                });
            },
            take(shift) {
                let self = this;
                self.$http.post("/shift/take", {shiftId: shift.id, workerId: self.workerId}).then(response => {
                    self.mode = "list";
                    self.init();
                });
            },
            untake(shift) {
                let self = this;
                self.$http.post("/shift/untake", {shiftId: shift.id, workerId: self.workerId}).then(response => {
                    self.mode = "list";
                    self.init();
                });
            },

            eventClick(e) {
              let self = this;
                let shift = self.getShift(e.event.id);
                self.edit(shift);
            },
            init() {
                let self = this;
                self.$http.get("/location/all").then(response => {
                    self.locations = response.data.locations;
                    self.shift.location_id = self.locations[0].id;
                });
                self.$http.get("/shift/all").then(response => {
                    // self.shifts = response.data.shifts;
                    self.setShifts(response.data.shifts);
                });
            },
            setShifts(shifts)
            {
                let self = this;
                self.shifts = shifts.map(function(s) {
                    s.start = s.wallclock_start;
                    if(s.worker)
                    {
                        s.title = s.worker.name;
                    }
                    return s;
                });
            },
            getShift(id)
            {
                let self = this;
                let shift = self.shifts.find(s=>{
                    return s.id==id;
                });
                return shift;
            }
        },
        mounted() {
            this.init();
            console.log('Component mounted.')
        }
    }
</script>
