<template>
    <div class="container">
        <div v-show="mode=='list'" class="row justify-content-center">

            <div v-if="showAddMassForm" class="col-md-12">
                <!-- mass shift input -->

                <h3>Add multiple shifts</h3>
                <button class="btn btn-info" @click="addMassShift">add shift</button>
                <button class="btn btn-warning" @click="clearMassShifts">clear</button>
                <button class="btn btn-warning" @click="hideAddMass">hide</button>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Location</th>
                        <th width="120">Start</th>
                        <th width="120">Time</th>
                        <th width="120">End</th>
                        <th width="120">Time</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr :class="massTableRow(oneShift)" v-for="oneShift in mass.shifts">
                        <td width="120">
                            <select v-model="oneShift.location_id">
                                <option value="">Select</option>
                                <option v-for="location in locations" :value="location.id">{{location.name}}
                                </option>
                            </select>
                        </td>
                        <td width="150">
                            <input type="date" v-model="oneShift.wallstart_date"/>
                        </td>
                        <td>
                            <input type="time" v-model="oneShift.wallstart_time"/>
                        </td>
                        <td width="150">
                            <input type="date" v-model="oneShift.wallend_date"/>
                        </td>
                        <td>
                            <input type="time" v-model="oneShift.wallend_time"/>
                        </td>
                        <td>
                            <button
                                @click="delMass(oneShift)"
                                class="btn btn-sm btn-warning"
                            >remove</button>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <button @click="saveMass"
                        :disabled="massShiftDisabled"
                        class="btn btn-block btn-success">Save {{mass.shifts.length}} shifts</button>

            </div>
            <div v-if="!showAddMassForm" class="col-md-12">
                <div class="row">
                <div v-if="showcal==true" class="col-md-9">
                    <FullCalendar
                        @eventClick="eventClick"
                        :events="shifts" defaultView="dayGridMonth" :plugins="calendarPlugins"/>
                </div>
                <div v-if="showcal==false" class="col-md-9">
                    <div class="card">
                        <div class="card-header">Shifts</div>

                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="120">

                                    </th>
                                    <th>Location</th>
                                    <th>Status</th>
                                    <th>Start</th>
                                    <th>End</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="shift in shifts">
                                    <td width="150">
                                        <button @click="del(shift)" class="btn btn-danger">del</button>
                                        <button @click="edit(shift)" class="btn btn-info">edit</button>
                                    </td>
                                    <td>
                                        <span v-if="shift.location">
                                            {{shift.location.name}}
                                        </span></td>
                                    <td>{{shift.status}}</td>
                                    <td>{{shift.wallclock_start}}</td>
                                    <td>{{shift.wallclock_end}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>

                    <div class="col-md-3">
                        <button @click="swapmode" class="btn btn-block btn-info">Toggle calendar/list</button>
                        <button @click="showAddMass" class="btn btn-block btn-info">Add multiple shifts</button>
                        <div class="card">
                            <div class="card-header">Add Shift</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Location
                                            <select v-model="shift.location_id">
                                                <option v-for="location in locations" :value="location.id">
                                                    {{location.name}}
                                                </option>
                                            </select>
                                        </label>
                                        <label>Start date
                                            <input @change="changeEnd" type="date" v-model="shift.wallstart_date"/>
                                        </label>
                                        <label>Start time
                                            <vue-timepicker @change="startTimeChange" close-on-complete format="hh:mm A"
                                                            minute-interval="30" v-model="shift.wallstart_time"/>
                                        </label>
                                        <label>Duration
                                            <vue-timepicker @change="durationChange" close-on-complete format="HH:mm"
                                                            minute-interval="30" v-model="shift.duration"/>
                                        </label>


                                        <label>End date
                                            <input disabled type="date" v-model="shift.wallend_date"/>
                                        </label>
                                        <label>End time
                                            <input disabled type="time" v-model="shift.wallend_time"/>
                                        </label>
                                        <button @click="add" class="btn btn-block btn-success">Add shift</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="mode=='edit'" class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Edit Shift</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Location
                                    <select v-model="shift.location_id">
                                        <option v-for="location in locations" :value="location.id">{{location.name}}
                                        </option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <label>Start date
                                    <input @change="changeEnd" type="date" v-model="shift.wallstart_date"/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Start time
                                    <vue-timepicker @change="startTimeChange" close-on-complete format="hh:mm A"
                                                    minute-interval="30" v-model="shift.wallstart_time"/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Duration
                                    <vue-timepicker @change="durationChange" close-on-complete format="HH:mm"
                                                    minute-interval="30" v-model="shift.duration"/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>End date
                                    <input disabled type="date" v-model="shift.wallend_date"/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>End time
                                    <input disabled type="time" v-model="shift.wallend_time"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <button @click="save" class="btn btn-block btn-success">Save shift</button>
                    <button @click="canceledit" class="btn btn-block btn-warning">Cancel edit</button>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang='scss'>

    @import '~@fullcalendar/core/main.css';
    @import '~@fullcalendar/daygrid/main.css';

</style>
<script>
    import FullCalendar from '@fullcalendar/vue';
    import dayGridPlugin from '@fullcalendar/daygrid';

    export default {
        components: {
            FullCalendar, // make the <FullCalendar> tag available
        },
        data() {
            let now = this.moment().format('YYYY-MM-DD');
            return {
                showAddMassForm: false,
                mass: {
                    shifts: [],
                    shift: {
                        id: '',
                        wallstart_date: now,
                        wallstart_time: '08:00 AM',
                        duration: '08:00',
                        wallend_date: now,
                        wallend_time: '04:00 PM',
                        location_id: '',
                        status: '',
                    },
                },
                showcal: false,
                calendarPlugins: [dayGridPlugin],
                mode: 'list',
                timezones: ['America/New_York', 'America/Chicago', 'America/Los_Angeles'],
                locations: [],
                shifts: [],
                shift: {
                    id: '',
                    wallstart_date: now,
                    wallstart_time: '08:00 AM',
                    duration: '08:00',
                    wallend_date: '',
                    wallend_time: '',
                    location_id: '',
                    status: '',
                },
            };
        },

        computed: {
            massShiftDisabled() {
                let self = this;
                let disabled = false;
                self.mass.shifts.forEach(s=>{
                    if(self.massTableRow(s)!='table-success') {
                        disabled = true;
                    }
                });
                return disabled;
            },
        },
        methods: {
            massTableRow(shift) {
                let self = this;
                console.log(shift);
                let start = new self.moment(shift.wallstart_date + ' ' + shift.wallstart_time);
                let end = new self.moment(shift.wallend_date + ' ' + shift.wallend_time);
                console.log(start);
                console.log(end);
                if (end.isSameOrBefore(start)) {
                    shift.isError = true;
                    console.log('table-danger');
                    return 'table-danger';
                }
                if (shift.location_id == '') {
                    shift.isError = true;
                    return 'table-default';
                }
                shift.isError = false;
                return 'table-success';
            },
            addMassShift() {
                let self = this;
                let now = self.moment().format('YYYY-MM-DD');
                let tempShift = {
                    id: '',
                    wallstart_date: now,
                    wallstart_time: '08:00',
                    duration: '08:00',
                    wallend_date: now,
                    wallend_time: '16:00',
                    location_id: '',
                    status: '',
                };
                self.mass.shifts.push(tempShift);
            },
            swapmode() {
                let self = this;
                self.showcal = !self.showcal;
                self.showAddMassForm = false;
            },
            showAddMass() {
                let self = this;
                self.showcal = false;
                self.showAddMassForm = true;
                if (self.mass.shifts.length == 0) {
                    self.addMassShift();
                }
            },
            hideAddMass() {
                let self = this;
                self.showcal = false;
                self.showAddMassForm = false;
            },
            clearMassShifts() {
                let self = this;
                self.mass.shifts = [];
            },
            startTimeChange(e) {
                let self = this;
                self.changeEnd();
            },
            durationChange(e) {
                let self = this;
                self.changeEnd();
            },
            changeEnd() {
                let self = this;
                let parts = self.shift.duration.split(':');
                let duration = parseFloat(parts[0]) * 60 + parseFloat(parts[1]);
                let start = self.shift.wallstart_date + ' ' + self.shift.wallstart_time;
                let _end = self.moment(start);
                _end.add(duration, 'minutes');
                let end = _end.format('YYYY-MM-DD HH:mm').split(' ');
                self.shift.wallend_date = end[0];
                self.shift.wallend_time = end[1];
            },
            add() {
                let self = this;
                if (self.shift.location_id == '') {
                    alert('Need to select a location for this shift');
                    return;
                }
                self.$http.put('/shift/create', self.shift).then(response => {
                    console.log(response);
                    self.init();
                });
            },
            saveMass() {
                let self = this;
                self.$http.put('/shift/createMass', {shifts: self.mass.shifts}).then(response => {
                    self.init();
                });
            },
            take(shift) {
                let self = this;
                self.$http.post('/shift/take', {shiftId: shift.id}).then(response => {
                    self.mode = 'list';
                    self.init();
                });
            },
            save() {
                let self = this;
                self.$http.post('/shift/update', self.shift).then(response => {
                    self.mode = 'list';
                    self.init();
                });
            },
            delMass(shift) {
                let self = this;
                let newShifts = [];
                newShifts = self.mass.shifts.filter(s=>{
                    return s != shift;
                });
                Vue.set(self.mass, 'shifts', newShifts);
            },

            del(location) {
                let self = this;
                self.$swal({
                    title: 'Are you sure?',
                    text: 'You won\'t be able to revert this!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                }).then((result) => {
                    if (result.value) {
                        self.$http.delete('/shift/delete/' + location.id).then(response => {
                            self.init();
                            self.$swal.fire(
                                'Deleted',
                                'This shift has been deleted.',
                                'success',
                            );
                        });
                    }
                });
                return;
            },
            canceledit() {
                let self = this;
                let now = this.moment().format('YYYY-MM-DD');
                self.mode = 'list';
                self.shift = {
                    id: '',
                    wallstart_date: now,
                    wallstart_time: '08:00 AM',
                    duration: '08:00',
                    wallend_date: '',
                    wallend_time: '',
                    location_id: '',
                    status: '',
                };
            },
            edit(shift) {
                let self = this;
                Vue.set(self, 'shift', shift);
                let start = self.moment(self.shift.wallclock_start);
                let end = self.moment(self.shift.wallclock_end);
                let num = Math.abs((start - end) / 1000) / 60;
                let hours = Math.floor(num / 60);
                let minutes = num % 60;
                self.shift.duration = hours + ':' + minutes;
                self.shift.wallstart_date = self.shift.wallclock_start.substr(0, 10);
                self.shift.wallstart_time = self.shift.wallclock_start.substr(11, 5);
                self.mode = 'edit';
            },
            eventClick(e) {
                let self = this;
                let shift = self.getShift(e.event.id);
                self.edit(shift);
            },
            init() {
                let self = this;
                self.hideAddMass();
                self.$http.get('/location/all').then(response => {
                    self.locations = response.data.locations;
                    self.shift.location_id = self.locations[0].id;
                });
                self.$http.get('/shift/all').then(response => {
                    // self.shifts = response.data.shifts;
                    self.setShifts(response.data.shifts);
                });
            },
            setShifts(shifts) {
                let self = this;
                self.shifts = shifts.map(function(s) {
                    s.start = s.wallclock_start;
                    if (s.worker) {
                        s.title = s.worker.name;
                    }
                    return s;
                });
            },
            getShift(id) {
                let self = this;
                let shift = self.shifts.find(s => {
                    return s.id == id;
                });
                return shift;
            },
        },
        mounted() {
            this.init();
            console.log('Component mounted.');
        },
    };
</script>
