<template>
    <div class="container">
        <div v-show="mode=='list'" class="row justify-content-center">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">Worker</div>

                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="120">

                                </th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in items">
                                <td width="150">
                                    <button @click="del(item)" class="btn btn-danger">del</button>
                                    <button @click="edit(item)" class="btn btn-info">edit</button>
                                </td>
                                <td>{{item.name}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.phone}}</td>
                                <td>{{item.status}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Invite Worker</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Name<input type="text" placeholder="Worker name" v-model="worker.name"
                                                  class="form-control"/></label>
                                <label>Email<input type="text" placeholder="Worker email" v-model="worker.email"
                                                  class="form-control"/></label>
                                <label>Phone<input type="text" placeholder="Worker phone" v-model="worker.phone"
                                                  class="form-control"/></label>
                                <button @click="add" class="btn btn-block btn-success">Invite worker</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="mode=='edit'" class="row justify-content-center">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Edit Worker</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Name<input type="text" placeholder="Worker name" v-model="worker.name"
                                                  class="form-control"/></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Email<input type="text" placeholder="Worker email" v-model="worker.email"
                                                  class="form-control"/></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Phone<input type="text" placeholder="Worker phone" v-model="worker.phone"
                                                  class="form-control"/></label>
                            </div>
                        </div>

                    </div>
                    <button @click="save" class="btn btn-block btn-success">Save worker</button>
                    <button @click="canceledit" class="btn btn-block btn-warning">Cancel edit</button>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                mode: 'list',
                items: [],
                worker: {
                    id: '',
                    name: '',
                    email: '',
                    phone: '',
                }
            }
        },
        methods: {
            add() {
                let self = this;
                if(self.worker.name=='' || self.worker.email=='') {
                    alert("Need to enter a name and email for this worker");
                    return;
                }
                self.$http.put("/worker/create", self.worker).then(response => {
                    console.log(response);
                    self.init();
                });
            },
            save() {
                let self = this;
                self.$http.post("/worker/update", self.worker).then(response => {
                    self.mode = "list";
                    self.init();
                });
            },
            del(worker) {
                let self = this;
                self.$http.delete("/worker/delete/" + worker.id).then(response => {
                    self.init();
                });
            },
            canceledit() {
                let self = this;
                self.mode = "list";
                self.worker = {
                    id: '',
                    name: '',
                    email: '',
                    phone: '',
                }
            },
            edit(worker) {
                let self = this;
                self.worker = worker;
                self.mode = "edit";
            },
            init() {
                let self = this;
                self.$http.get("/worker/all").then(response => {
                    self.items = response.data.workers;
                });
            }
        },
        mounted() {
            this.init();
            console.log('Component mounted.')
        }
    }
</script>
