<template>
    <div class="container">

        <b-modal
            id="addressModal"
            ok-only
            ok-title="Cancel"
            ref="choose-address"
            title="Select your address">
            <div v-for="address in addresses">
                <button @click='chooseAddress(address, true)' class="btn btn-sm btn-success">save</button> {{address.formatted_address}}
            </div>
            <div v-if="addresses.length==0">
                <p>No addresses found</p>
            </div>
            <div v-if="addresses.length>0">
                <br/>
                <p><i>None of the addresses above are correct</i></p>
                <button @click='chooseAddress(null, false)' class="btn btn-sm btn-success">save</button> {{renderAddress}}
            </div>

        </b-modal>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Edit My Profile</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Name<input type="text" placeholder="Worker name" v-model="worker.name"
                                                  class="form-control"/></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Email<input type="text" placeholder="Worker email" v-model="worker.email"
                                                   class="form-control"/></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Phone<input type="text" placeholder="Worker phone" v-model="worker.phone"
                                                   class="form-control"/></label>
                            </div>
                        </div>

                    </div>
                    <button @click="save" class="btn btn-block btn-success">Save my profile</button>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">My base location</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Address</label><input type="text" placeholder="Address" v-model="address.address1"
                                                  class="form-control"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" placeholder="City" v-model="address.city"
                                                  class="form-control col-md-6" style="display:inline"/>
                                <input type="text" placeholder="State" v-model="address.state"
                                                  class="form-control col-md-2" style="display:inline"/>
                                <input type="text" placeholder="ZIP" v-model="address.postal_code"
                                                  class="form-control col-md-3" style="display:inline"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br/>
                                <button @click="geo" class="btn btn-block btn-info">Verify and save address</button>
                            </div>
                        </div>

                        <div class="row" style="height: 150px">

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</template>
<style>

</style>
<script>

    export default {
        data() {
            return {
                addresses:[],
                mode: 'list',
                items: [],
                worker: {
                    id: '',
                    name: '',
                    email: '',
                    phone: '',
                },
                address: {
                    id: '',
                    address1: '',
                    city: '',
                    state: '',
                    postal_code: '',
                    latitude: '',
                    longitude: '',
                }
            }
        },
        computed: {
            renderAddress()
            {
                let self = this;
                let addressString = '';
                const a = self.address;
                addressString += (a.address1 ? a.address1 : '')  + ' ';
                addressString += (a.address2 ? a.address2 : '')  + ' ';
                addressString += (a.city ? a.city : '')  + ', ';
                addressString += (a.state ? a.state : '')  + ' ';
                addressString += (a.postal_code ? a.postal_code : '');
                return addressString;
            }
        },
        methods: {
            result(e) {
                let self = this;
                let result = e.result;
                let zip, state, city = '';
                result.context.forEach((item) => {
                    let parse = item.id.split('.');
                    if (parse[0] == 'postcode') {
                        zip = item.text;
                    }
                    if (parse[0] == 'place') {
                        city = item.text;
                    }
                    if (parse[0] == 'region') {
                        state = item.text;
                    }
                });
                self.address.address1 = result.address + " " + result.text;
                self.address.city = city;
                self.address.state = state;
                self.address.postal_code = zip;
                self.address.latitude = result.center[1];
                self.address.longitude = result.center[0];
            },
            geo()
            {
                let self = this;

                self.$http.post("/address/verify", {address: self.address}).then(response=>{
                    self.verifyAddress(response.data.addresses);
                });
            },
            verifyAddress(list)
            {
                let self = this;
                console.log(list);
                Vue.set(this, 'addresses', list);
                self.$refs['choose-address'].show();
            },
            chooseAddress(address, verified)
            {
                let self = this;
                if(address!=null && verified==true) {
                    let parts = address.address_components;
                    self.address.address1 = parts.number + " " + parts.formatted_street
                    self.address.city = parts.city;
                    self.address.state = parts.state;
                    self.address.postal_code = parts.zip;
                    self.address.latitude = address.location.lat;
                    self.address.longitude = address.location.lng;
                    self.address.verified = verified;
                } else {
                    self.address.verified = false;
                }
                self.$refs['choose-address'].hide();
                self.saveAddress();
            },
            save() {
                let self = this;
                if (self.worker.name == '' || self.worker.email == '') {
                    alert("Need to enter a name and email for your profile");
                    return;
                }
                self.$http.post("/worker/update", {worker:self.worker}).then(response => {
                    self.init();
                });
            },
            saveAddress() {
                let self = this;
                self.$http.post("/worker/update_address", {worker:self.worker, address:self.address}).then(response => {
                    self.init();
                });
            },
            init() {
                let self = this;
                self.$http.get("/me").then(response => {
                    Vue.set(self,'worker', response.data.me.worker);
                    if(response.data.me.worker.address!=null) {
                        Vue.set(self, 'address', response.data.me.worker.address);
                    }
                });
            }
        },
        mounted() {
            this.init();
            console.log('Component mounted.')
        },
        created() {
            // We need to set mapbox-gl library here in order to use it in template
            this.mapbox = Mapbox;
        }
    }
</script>
